body{
	background: url(../images/choosing-bg.jpg);
}
.msy-loginsection{
    width: 100%;
    height: 100vh !important;
    position: relative;
}
/* .msy-loginform{
    width: 25%;
} */
#root{
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;

}